## Dataset

# Importación de los datos

In [1]:
# Lectura del DataSet utilizando Pandas
import pandas as pd
import arff

df = pd.read_csv("datasets/NSL-KDD/KDDTrain+.txt")
df

,0,tcp,ftp_data,SF,491,0.1,0.2,0.3,0.4,0.5,...,0.17,0.03,0.17.1,0.00.6,0.00.7,0.00.8,0.05,0.00.9,normal,20
0,0,udp,other,SF,146,0,0,0,0,0,...,0.00,0.60,0.88,0.00,0.00,0.00,0.00,0.00,normal,15
1,0,tcp,private,S0,0,0,0,0,0,0,...,0.10,0.05,0.00,0.00,1.00,1.00,0.00,0.00,neptune,19
2,0,tcp,http,SF,232,8153,0,0,0,0,...,1.00,0.00,0.03,0.04,0.03,0.01,0.00,0.01,normal,21
3,0,tcp,http,SF,199,420,0,0,0,0,...,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,normal,21
4,0,tcp,private,REJ,0,0,0,0,0,0,...,0.07,0.07,0.00,0.00,0.00,0.00,1.00,1.00,neptune,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125967,0,tcp,private,S0,0,0,0,0,0,0,...,0.10,0.06,0.00,0.00,1.00,1.00,0.00,0.00,neptune,20
125968,8,udp,private,SF,105,145,0,0,0,0,...,0.96,0.01,0.01,0.00,0.00,0.00,0.00,0.00,normal,21
125969,0,tcp,smtp,SF,2231,384,0,0,0,0,...,0.12,0.06,0.00,0.00,0.72,0.00,0.01,0.00,normal,18
125970,0,tcp,klogin,S0,0,0,0,0,0,0,...,0.03,0.05,0.00,0.00,1.00,1.00,0.00,0.00,neptune,20
125971,0,tcp,ftp_data,SF,151,0,0,0,0,0,...,0.30,0.03,0.30,0.00,0.00,0.00,0.00,0.00,normal,21

In [2]:
import arff
import pandas as pd

In [3]:
# Separar el Dataset 60% train set 40% test set
from sklearn.model_selection import train_test_split

train_set, test_set = train_test_split(df, test_size=0.4,random_state=42)

In [4]:
# Separar el Dataset de pruebas 50% de validation set, 50% test set
val_set, test_set = train_test_split(test_set,test_size=0.5, random_state=42)

In [5]:
def load_kdd_dataset(data_path):
    """Lectura del DataSet NSL-KDD."""
    with open(data_path, 'r') as train_set:
        dataset = arff.load(train_set)
    attributes = [attr[0] for attr in dataset["attributes"]]
    return pd.DataFrame(dataset["data"], columns=attributes)

In [6]:
df=load_kdd_dataset('datasets/NSL-KDD/KDDTrain+.arff')

# Split

In [7]:
# Construcción de una función que realize un particionado completo.
def train_val_split(df,rstate=42, shuffle=True, stratify=None):
    strat = df[stratify] if stratify else None
    train_set, test_set = train_test_split(
                df, test_size = 0.4, random_state = rstate, shuffle = shuffle, stratify=strat)
    strat = test_set[stratify] if stratify else None
    val_set, test_set = train_test_split( 
    test_set, test_size = 0.5, random_state = rstate, shuffle = shuffle, stratify=strat)
    
    return (train_set, val_set, test_set)

In [8]:
print("longitud del conjunto de datos:",len(df))

longitud del conjunto de datos: 125973

In [9]:
train_set, val_set, test_set = train_val_split(df, stratify = 'protocol_type')

In [10]:
print ("Longitud del training set: ", len(train_set))
print("Longitud de validation set:", len(val_set))
print ("Logitud del test set: ", len(test_set))

Longitud del training set:  75583
Longitud de validation set: 25195
Logitud del test set:  25195